body {
    background-color: #lflflf;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;
}

em {
    color: #dd740b;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background-color: #627da0;
    /* look inside your parent element */
    position: inherit;
    left: 200px;
}

.greenBox {
    background-color: #5b8054;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 200px;
    height: 200px;
    position: relative;
}