body {
    background-color: #lflflf;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;
}

em {
    color: #e07a05;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background-color: #627da0;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.greenBox {
    background-color: #5b8054;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 200px;
    width: 200px;
    margin-top: 300px;
    margin-bottom: 5px;
    position: absolute;
}