    body {
        background-color: #lflflf;
        height: 2000px;
        color: #bfbfbf;
    }
    
    h1 {
        font-weight: normal;
    }
    
    em {
        color: #e07f07;
    }
    
    .box {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    
    .boxBlue {
        background: #627da0;
        float: right;
    }